h1 {
  text-align: center;
}

form {
  width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

input[type="submit"] {
  background-color: green;
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
footer{
  text-align: center;
}

body{
  background-color: grey;
}
